@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rowdies:wght@700&display=swap');


h1{
    color:#48f07a;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Rowdies';
    padding-bottom: 1000px;
    
  }
  
  #result-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-family: 'Rowdies';
  }
  
  #result-table th, #result-table td {
    border: 5px solid #ccc;
    padding: 8px;
    background-color:#578fff;
    font-family: 'Luckiest Guy', cursive;
  }
  
  #loading {
    display: none;
    margin-top: 20px;
  }
body {
    background-image: url(https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}  

html,body{
    display:grid;
    height:100%;
    place-items: center;
    
  }
  
  .search-box{
    position:relative;
    height:60px;
    width:0px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  
  .search-box.active{
    width: 350px;
  }
  
  .search-box.active input{
    opacity:1;
  }
  
  .search-box input{
    height:100%;
    width:100%;
    border:none;
    background:#fff;
    font-size:18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    outline:none;
    opacity:0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  
  .search-box .search-btn{
    height:50px;
    width:50px;
    background: #fff;
    color:#664AFF;
    position: absolute;
    top:50%;
    right:-75px;
    transform: translateY(-50%);
    line-height:50px;
    text-align:center;
    border-radius:50%;
    font-size:20px;
    cursor:pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
    z-index:2;
  }
  
  .search-box.active .search-btn{
    height:50px;
    width:50px;
    background: #664AFF;
    color:#fff;
  }
  
  .search-box .cancel-btn{
    position: absolute;
    color: #664AFF;
    top:50%;
    right: -75px;
    transform: translateY(-50%);
    color:linear-gradient(to right,#72ed1a,#e0945a);
    font-size:25px;
    cursor:pointer;
    height:50px;
    width:50px;
    line-height:50px;
    text-align:center;
    border-radius:50%
    
  }
  
  .search-box.active .cancel-btn{
    right: -135px;
    opacity:1;
    color:#fff;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }